/*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    background-color: black;
}

.navbar{
    height:10vh;
    background-color: gray;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 15px;
}

.nav-left{
    display:flex;
    gap:60px;
}

.nav-left a{
    color:white;
    text-decoration:none;
    font-size:70px;
}

.nav-right{
    color:white;
    font-size:80px;
    font-weight:bold;
}

.hero{
    height:50%;
    background:black;
    display:flex;
    margin-top: 500px;
    color:white;
    margin-left:20px;
}

.content h1{
    font-size:200px;
    margin-bottom:35px;
}

.content h2{
    font-size: 100px;
    margin-bottom: 50px;
}

.content p{
    font-size:60px;
}

.hero .picture{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:1000px;
}

.picture img{
    height:1200px;
    width:1200px;
    border-radius: 50%;
}*/



*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins';
scroll-behavior:smooth;
}

body{
background:black;
color:white;
}



.navbar{
height:10vh;
display:flex;
justify-content:space-between;
align-items:center;

padding:0 7%;
background:#111;

position:fixed;

width:100%;

z-index:100;
}



.nav-left{
display:flex;
gap:40px;
}



.nav-left a{
color:white;
text-decoration:none;

font-size:18px;

transition:.3s;
}



.nav-left a:hover{
color:#7f5cff;
}



.nav-right{
font-size:28px;
font-weight:bold;
}



.hero{

min-height:100vh;

display:flex;

align-items:center;

justify-content:space-between;

padding:100px 7%;

}



.content{
max-width:700px;
}



.content h3{
color:#7f5cff;
font-size:25px;
}



.content h1{
font-size:90px;

margin:10px 0;
}



.content h2{

font-size:45px;

margin-bottom:25px;
}



.content p{

font-size:18px;

line-height:35px;

color:#b8b8b8;
}



.hero-btn{
margin-top:40px;
}



.hero-btn button{

padding:16px 40px;

border:none;

border-radius:40px;

margin-right:20px;

font-size:18px;

cursor:pointer;
}



.hero-btn button:first-child{
background:#7f5cff;
color:white;
}



.outline{

background:transparent;

border:2px solid white !important;

color:white;
}



.picture img{

width:500px;

height:500px;

border-radius:50%;

object-fit:cover;

box-shadow:
0 0 80px #7f5cff;

}





.about,
.skills,
.projects,
.contact{

padding:120px 7%;

}



.about h1,
.skills h1,
.projects h1,
.contact h1{

font-size:70px;

margin-bottom:60px;
}



.about-box{

display:flex;

gap:60px;

}



.left{

flex:1;
}



.left h2{

font-size:40px;

margin-bottom:20px;

}



.left p{

font-size:18px;

line-height:35px;

color:gray;
}



.right{

flex:1;

display:grid;

grid-template-columns:

1fr 1fr;

gap:25px;

}



.card{

padding:40px;

background:#141414;

border-radius:20px;

font-size:25px;

}



.card span{

display:block;

margin-top:20px;

color:#7f5cff;

}



.skill-grid{

display:grid;

grid-template-columns:

repeat(auto-fit,minmax(220px,1fr));

gap:30px;

}



.skill{

background:#151515;

padding:40px;

text-align:center;

font-size:25px;

border-radius:20px;

transition:.4s;
}



.skill:hover{

transform:translateY(-10px);

background:#7f5cff;

}



.project-container{

display:grid;

grid-template-columns:

repeat(auto-fit,minmax(300px,1fr));

gap:30px;

}



.project{

background:#151515;

padding:40px;

border-radius:20px;

}



.project h2{

margin-bottom:20px;
}



.contact form{

display:flex;

flex-direction:column;

gap:25px;

}



input,
textarea{

padding:20px;

background:#111;

border:none;

color:white;

border-radius:10px;

}



textarea{

height:180px;

}



.contact button{

padding:18px;

background:#7f5cff;

border:none;

color:white;

font-size:20px;

border-radius:10px;

}



footer{

padding:40px;

text-align:center;

color:gray;

}



@media(max-width:900px){

.hero{

flex-direction:column;

text-align:center;

}



.content h1{
font-size:55px;
}



.picture img{

margin-top:50px;

width:300px;

height:300px;

}



.about-box{
flex-direction:column;
}



.nav-left{
display:none;
}

}


